<!DOCTYPE html>
<html lang="es>
    <head>
        <meta charset="utf-8">
        <title>{{ $view->title }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    {{ $view->title }}
                </div>
                <div class="panel-body">
                    @yield('content)
                </div>
            </div>
            @include('footer)
        </div>
    </body>
</html>